/* body */
body {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
    background-color: #1c1B1B;
    color: white;
}

/* header */
header {
    width: 150px;
    color: black;
    background-color: rgb(187, 187, 187);
    transform: translatex(60px);
    border: 2px solid black;
    padding: 10px 10px;
    margin: 20px 0;
}

header li :hover {
    font-size: 17px;
    color: rgb(16, 9, 9);
}

/* headings */
h1 {
    text-align: center;
    background-color: rgb(104, 100, 94);
    width: 470px;
    margin: 0 auto;
    padding: 10px 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 3px double white;
}

h2 {
    width: 260px;
    text-decoration: underline dotted;
    margin: 30px;
    border: dotted rgb(246, 225, 225) 3px;
    text-align: center;
    padding: 15px;
    background-color: rgb(104, 100, 94);
}

h3 {
    width: 260px;
    text-decoration: underline dotted;
    margin: 30px;
    border: dotted rgb(246, 225, 225) 3px;
    text-align: center;
    padding: 15px;
    background-color: rgb(104, 100, 94);
}

h4{
    text-decoration: underline solid ;
}

/* Home section */
#home {
    background-color: #513920;
    border: 14px double #BAB1A4;
    color: white;
}

#restaurant-hero {
    margin: 20px 70px auto;
    border: 3px solid rgb(150, 124, 152);
    border-radius: 5%;
    padding: 5px;
    position: relative;
    left: 370px;
}

#home figcaption {
    text-align: center;
    font-weight: 300;
    font-style: initial;
}

.M-masterpiece {
    width: 36%;
    margin: 2% 4.5% 2% 4.5%;
    border: 3px solid rgb(74, 35, 104);
    position: relative;
    right: -72px;
}

#featured_meal {
    background: url(gettyimages-1428594094-612x612.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
}

#home ul {
    position: relative;
    right: -60px;
}

#home button {
    width: 200px;
    text-align: middle;
    margin: 20px;
    padding: 10px;
    border: 3px solid rgb(23, 40, 6);
    border-radius: 15px;
    background-color: rgb(148, 182, 189);
    color: rgb(38, 8, 40);
}

#order-button :hover {
    font-size: 14px;
    background-color: rgb(5, 14, 195);
    transition: 1.5s;
}

/* Menu section */
#menu img {
    background-color: #432708;
    width: 220px;
    margin: 15px;
    border: 5px white solid;
    padding: 20px;
    border-style: ridge;
    border-right: 0px;
    border-top: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 180px;
}

#menu th {
    background-color: rgb(104, 150, 30);
    border: 2.5px solid rgb(244, 239, 239);
    border-radius: 15px;
}

#second-table {
    background-color: #513920;
    font-size: medium;
}

#second-table td {
    margin: 20px;
    border: 1px solid rgb(147, 147, 123);
    padding: 10px;
}

/* about us section */
#about_us {
    background-color: #2a2520;
}

#about_us h2 {
    margin: 30px auto;
    border: double 3px;
}

#about_us div {
    background: url(gettyimages-957729194-612x612.jpg);
    background-repeat: repeat;
    color: rgb(248, 245, 245);
    background-position: top;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
}

#about_us div li {
    border: solid 0.5px rgb(16, 9, 9, 0.8);
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
    background-color: rgb(16, 9, 9, 0.8);
}

#about_us div img {
    width: 70px;
    border: #BAB1A4 2px solid;
    border-radius: 50%;
    padding: 5px;
}

#diff-h3 {
    width: 360px;
}

#about_us article {
    width: 250px;
    border: 2px;
    border-radius: 17%;
    margin: 10px;
    padding: 20px;
    height: 250px;
    background-color: #473c3c;
}

#about_us article img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    border: 2px;
    border-radius: 13%;
}

/* customer's review */
#scr-div img {
    width: 30%;
}

.first-side {
    display: inline-block;
}

/* order section */
#order-now {
    background-color:#7a7564;
    color: #21252a;
    border:#1c1B1B solid 2px;
    border-radius: 5%;
}

#order-now h2 {
    background-color: #1c1B1B;
    color: white;
    margin: 0px auto;
}

.first-part {
    display: inline-block;
    margin: 50px -150px 50px 400px;
    border: solid 2px;
    border-radius: 13%;
    padding: 40px;
    height:350px;
    background-color: #979797;
}

.first-part img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    border:3.5px solid rgb(26, 25, 25) ;
    border-radius: 70%;
}

.first-part p {
    text-align: center;
}
.second-paragraph{
    background-color: rgb(123, 139, 72);
    color:white;
    padding:8px;
    border:rgb(40, 40, 32) 2px solid;
    border-radius: 5%;
}

.first-part button {
    width: 100px;
    text-align: middle;
    margin: 5px;
    padding: 2px;
    border: 2px solid rgb(23, 40, 6);
    border-radius: 15px;
    background-color: rgb(245, 229, 10);
    color: rgb(38, 8, 40);
}

.first-part button:hover {
    font-size: 14px;
    background-color: rgb(58, 139, 15);
    transition: 1s;
    border:2px;
    border-radius: 30%;
}
.except{
    color:#1c1B1B;
    background-color: rgb(135, 174, 9);
    border:solid 1px black;
    border-radius: 13%;
    padding:0px 4px;
    font-size: smaller;
}
/* popular menu section */
#popular-menu img{
    width:160px;
    border:1px solid;
    border-radius: 20px;
}
.popular-menu-class{
    width:500px;
    border:2px solid black;
    border-radius:20px;
    margin:15px;
    padding-top: 10px;
    padding-left: 10px;
   background-color: #21252a;
   color: #f1f5f3;
}
#pm-section{
    background-color: #c2c5c8;
}
.pm-paragraph{
    text-align: center;
   margin-top: -120px;
       border: 2px dotted rgb(105, 112, 88);
    border-radius: 20px;  
    
}
.popular-menu-class button{
    margin-left: 400px;
    margin-bottom: -50px; 
    margin-bottom: 3px;
    padding:0px 10px;
    background-color: #8e8e8f;
    border-radius: 20px;
}

.order-button:hover{
    font-size: 14px;
    background-color: rgb(228, 234, 224);
    transition: 1s;
    border:2px;
    border-radius: 30px;
}

.ratings{
margin-left:400px ;
margin-top: -50px;
color:rgb(128, 128, 3);
}

/* payment section */
#payment-mother-div{
background-color:  white; 
}


#payment-div{
    border:2px solid black;
    border-radius: 20px;
    margin-left: 450px;
    margin-top: 70px;
    width:600px;
    padding: 20px;
    background-color: #1408f5;
    margin:0 auto;
    margin-top: 40px !important;
}

#background{
width:800px;
height:600px;
background:url(mastercard.png);
background-color: rgba(0, 0, 0, 0.7);
background-blend-mode: darken;
margin:0 auto;
}

#orderr{
     margin-top: 50px !important; 
}
#payment-div input{
    border:2px solid black;
    border-radius: 5px;
    background-color: #21252a;
    color:#eaedef;
}

#payment-button{
    width:70px;
    text-align: center;
    padding:0px 0px;
  background-color:    #8e8e8f; 
    border-radius: 20px;
}

#payment-button:hover{
     font-size: 16.3px; 
    background-color: rgb(20, 19, 20);
    transition: 1s;
}

/* contact section */
#contact{
    background-color: #f7f7f7;
}

#contact-form{
    border:#21252a solid 2px;
    margin-left: 500px;
    border-radius:20px;
    background-color: #1408f5;
    width:500px;
    margin-top: 50px;
}

.dforms{
    margin-left: 40px;
}

.dforms input{
border-radius: 8px;
}

#contact-form button{
    margin-left: 40px;
    border:2px;
    border-radius: 20px;
}

#contact-form button:hover{
    background-color: rgb(100, 126, 62);
    transition:1.5s;
}

#htru{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

#social-media{
    width:100px;
    border:2px;
    border-radius: 15px;
    background-color: rgba(240, 214, 214,0.3);
}

.socials-address{
    background-color: #21252a;
}

#social-media a:hover{
color:#07fe0b;
}

